{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

<div>
    <h1>Hello {{ controller_name }}! ✅</h1>

    Test Liste Sessions:
    <ul>
        {% for row in formations %}
            <li> {{row}}   </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
