{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}

<div>
    <h1>Hello {{ controller_name }}! ✅</h1>

    Test Liste Stagiaires:
    <ul>
        {% for stagiaire in stagiaires %}
            <li><a href="{{ path('show_stagiaire', {'id' : stagiaire.Id} ) }}">{{stagiaire}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
